<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="favicon.png" alt="PhenixTracker" width="50"> PhenixTracker
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" routerLink="/">Accueil</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/suivi">Suivi</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/exercices">Exercices</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/historique">Historique</a></li>
        <li class="nav-item"><a class="nav-link btn btn-warning text-dark" routerLink="/inscription">S'inscrire</a></li>
      </ul>
    </div>
  </div>
</nav>
